<!-- PORTFOLIO-->
<!--===============================================================-->
<div class="bg-portfolio" id="portfolio">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <h2 class="title">LATEST WORK</h2>
                <hr>
            </div>
        </div>

        <div class="row row-portfolio">
            <div class="col-sm-4 margin-bottom-xs">
                <a class="lightbox wrapper-portfolio" href="{{ asset('bundles/resume/Numo/assets/images/640x480.gif') }}">
                    <img class="img-responsive" src="{{ asset('bundles/resume/Numo/assets/images/320x340.gif') }}" alt="portfolio-1">
                    <h3 class="category">Web Design</h3>
                </a>
            </div>
            <div class="col-sm-4 margin-bottom-xs">
                <a class="lightbox wrapper-portfolio" href="{{ asset('bundles/resume/Numo/assets/images/640x480.gif') }}">
                    <img class="img-responsive" src="{{ asset('bundles/resume/Numo/assets/images/320x340.gif') }}" alt="portfolio-2">
                    <h3 class="category">Logo Design</h3>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="lightbox wrapper-portfolio" href="{{ asset('bundles/resume/Numo/assets/images/640x480.gif') }}">
                    <img class="img-responsive" src="{{ asset('bundles/resume/Numo/assets/images/320x340.gif') }}" alt="portfolio-3">
                    <h3 class="category">Development</h3>
                </a>
            </div>
        </div>

    </div>
</div>