{% if user is defined and articles is defined %}
<!-- BLOG-->
<!--===============================================================-->
<div class="bg-post">
    <div class="container">
        <div class="row row-blog">
            <div class="col-md-8 col-md-offset-2 wrapper-blog">
                {% if articles | length > 0 %}
                    {% for article in articles %}
                        {% set url = path('resume_numo_blog_post', { 'slug': article.slug }) %}
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{{ url }}"><h1 class="title-post">{{ article.title }}</h1></a>
                            <p class="small author">Par <span class="green">{{ article.author.profile.getFullName() }}</span> · {{ article.createdAt | date('M d, Y') }}</p>
                            <a href="{{ url }}">
                                {% if article.media is not null %}
                                    {% media article.media, 'numo_medium' %}
                                {% else %}
                                    <img class="img-responsive img-featured" src="{{ asset('/bundles/resume/Numo/assets/images/blog.png') }}" alt="featured image">
                                {% endif %}
                            </a>
                            <p>
                                {{ article.description }}
                            </p>
                            <a href="{{ url }}" class="btn btn-default">En savoir plus</a>
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Aucun article</p>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-12 col-pagination">
                        <div class="t-a-c">
                            {{ pagination(articles) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}