{% if user is defined %}
    {% set portfolio = get_main_portfolio(user) %}

    {% if portfolio is not null %}
        <!-- Portfolio section start -->
        <section id="portfolio" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 headline wow bounceInDown">
                        <h2>{{ portfolio.title }}</h2>
                        <p>{{ portfolio.resume | raw }}</p>
                    </div>

                    {% set animationIndex = 0 %}
                    {% set animations = ['bounceInLeft', 'bounceInUp', 'bounceInRight', 'bounceInUp'] %}

                    {% if portfolio.projects | length > 0 %}
                        {% for project in portfolio.projects %}
                            {% if project.media is not null %}
                            <div class="col-md-4 col-sm-6 wow {{ animations[animationIndex] }}">
                                <a href="{% path project.media, 'mstone_portfolio' %}" class="pop-up" title="{{ project.media.name }}">
                                    <div class="portfolio-item">
                                        <div class="portfolio-item-preview">
                                            <img src="{% path project.media, 'mstone_portfolio' %}" alt="{{ project.media.name }}">
                                        </div>
                                        <div class="portfolio-item-description">
                                            <h3>{{ project.title }}</h3>
                                            <p>{{ project.resume | raw }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endif %}

                            {% if animationIndex < animations | length - 1 %}
                                {% set animationIndex = animationIndex + 1 %}
                            {% else %}
                                {% set animationIndex = 0 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div><!-- .row -->
            </div><!-- .container -->
        </section>
        <!-- Portfolio section end -->
        {% endif %}
{% endif %}