{% if user is defined %}
<!-- Profile section start -->
<section id="profile" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 headline wow bounceInDown">
                <h2>{{ user.profile.fullName }}</h2>
                <p>{{ user.profile.profession }}</p>
            </div>
            <div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft">
                {% if user.avatar is not null %}
                    {% media user.avatar, 'mstone' %}
                {% else %}
                    <img class="avatar" src="{{ asset('bundles/resume/MStone/Slideshow/assets/images/photo.jpg') }}" alt="">
                {% endif %}
            </div>
            <div class="col-md-3 col-sm-6 wow bounceInUp">
                <div class="profile-widget">
                    <h3>Compétences</h3>

                    {% if user.profile.skills | length > 0 %}
                        {% for skill in user.profile.skills %}
                        <h5>{{ skill.tag.name }}</h5>
                        <div class="skill-bar">
                            <div class="skill-rate-{% if skill.level >= 0.25 %}on{% else %}off{% endif %}"></div>
                            <div class="skill-rate-{% if skill.level >= 0.50 %}on{% else %}off{% endif %}"></div>
                            <div class="skill-rate-{% if skill.level >= 0.75 %}on{% else %}off{% endif %}"></div>
                            <div class="skill-rate-{% if skill.level == 1 %}on{% else %}off{% endif %}"></div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="profile-widget">
                    <h3>Réseaux sociaux</h3>
                    <ul class="widget-social">
                        {% if user.contact.facebook is not null %}
                            <li><a href="https://www.facebook.com/{{ user.contact.facebook }}"><i class="fa fa-facebook fa-fw"></i></a></li>
                        {% endif %}
                        {% if user.contact.gitHub is not null %}
                        <li><a href="https://github.com/{{ user.contact.facebook }}"><i class="fa fa-github-alt"></i></a></li>
                        {% endif %}
                        {% if user.contact.dribbble is not null %}
                        <li><a href="https://www.dribbble.com/{{ user.contact.facebook }}"><i class="fa fa-dribbble"></i></a></li>
                        {% endif %}
                        {% if user.contact.googlePlus is not null %}
                        <li><a href="https://plus.google.com/{{ user.contact.facebook }}"><i class="fa fa-google-plus"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div><!-- .col-md-3 -->
            {% if user.profile.about is not null %}
            <div class="col-md-6 col-sm-12 wow bounceInRight">
                <h3>Profil professionel</h3>
                <p>
                    {{ user.profile.about | raw }}
                </p>
            </div>
            {% endif %}
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<!-- Profile section end -->
{% endif %}