{% if user is defined %}
    <!-- Resume section start -->
    <section id="resume" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 headline wow bounceInDown">
                    <h2>Diplômes et parcours</h2>
                    <p>Mes diplômes et experiences.</p>
                </div>
            </div><!-- .row -->
            <div class="row resume-items">
                <div class="col-md-3 wow bounceInLeft">
                    <h3>Diplômes</h3>
                </div>
                {% if user.educations | length > 0 %}
                    {% for education in user.educations %}
                        <div class="col-md-6 col-sm-8 resume-item wow bounceInLeft">
                            <h4>{{ education.title }}</h4>
                            {{ education.resume | raw }}
                            <hr class="hidden-xs">
                        </div>
                        <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                            <h4><i class="fa fa-suitcase"></i> Stanford University</h4>
                            <i class="fa fa-calendar"></i> 2013 - 2014
                            <hr class="visible-xs">
                        </div>
                    {% endfor %}
                {% endif %}
            </div><!-- .row -->
            <div class="row resume-items">
                <div class="col-md-3 wow bounceInLeft">
                    <h3>Experience</h3>
                </div>
                {% if user.experiences | length > 0 %}
                    {% for experience in user.experiences %}
                        <div class="col-md-6 col-sm-8 resume-item wow bounceInLeft">
                            <h4>{{ experience.company }}</h4>
                            {{ experience.resume | raw }}
                            <hr class="hidden-xs">
                        </div>
                        <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
                            <h4><i class="fa fa-suitcase"></i> {{ experience.company }}</h4>
                            <i class="fa fa-calendar"></i> {{ experience.startedOn | date('Y') }} - {{ experience.endedOn | date('Y') }}
                            <hr class="visible-xs">
                        </div>
                    {% endfor %}
                {% endif %}
            </div><!-- .row -->
            {% if user.resumeFile is not null %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3 wow bounceInUp">
                    <a href="{% path user.resumeFile, 'reference' %}" class="btn btn-default btn-custom-2">
                        <i class="fa fa-cloud-download icon-before"></i> Télécharger CV
                    </a>
                </div>
            </div><!-- .row -->
            {% endif %}
        </div><!-- .container -->
    </section>
    <!-- Resume section end -->
{% endif %}