{% if user is defined %}
<!-- ABOUT ME -->
<section class="section about-me" id="about-me">
    <div class="container">
        <h2 class="heading">A propos de moi</h2>
        {{ user.profile.about | raw }}
        <div class="row interest">
        {% if user.profile.hobbies | length > 0 %}
            {% for hobby in user.profile.hobbies %}
            <div class="col-md-3">
                <h3 class="sub-heading">
                    {% if hobby.glyph is not null %}<i class="fa fa-{{ hobby.glyph }}" aria-hidden="true"></i>{% endif %} {{ hobby.tag.name }}
                </h3>
                <p>{{ hobby.resume | raw }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="social">
            <h3 class="sub-heading">Suivez moi sur :</h3>
            <ul class="social-icons">
                {% if user.contact.facebook is not null %}
                <li><a href="https://www.facebook.com/{{ user.contact.facebook }}"><i class="fa fa-facebook"></i></a></li>
                {% endif %}
                {% if user.contact.twitter is not null %}
                <li><a href="https://twitter.com/{{ user.contact.twitter }}"><i class="fa fa-twitter"></i></a></li>
                {% endif %}
                {% if user.contact.googlePlus is not null %}
                <li><a href="https://plus.google.com/{{ user.contact.googlePlus }}"><i class="fa fa-google-plus"></i></a></li>
                {% endif %}
                {% if user.contact.linkedIn is not null %}
                <li><a href="https://www.linkedin.com/{{ user.contact.linkedIn }}"><i class="fa fa-linkedin"></i></a></li>
                {% endif %}
                {% if user.contact.dribbble is not null %}
                <li><a href="https://dribbble.com/{{ user.contact.dribbble }}"><i class="fa fa-dribbble"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
<!-- END ABOUT ME -->
{% endif %}
