{% if user is defined %}
<!-- CONTACTS -->
<section class="section contacts" id="contacts">
    <div class="container">
        <h2 class="heading">Contacts</h2>
        {% if user.contact.description is not null %}
            <p>{{ user.contact.description | raw }}</p>
        {% endif %}
        <div class="row google-map">
            <div class="map-canvas"></div>
        </div>
        <div class="row contact-address">
            <div class="col-md-6">
                <div class="contact-form-wrapper margin-bottom">
                    <form id="contact-form" class="form-horizontal contact-form" method="post" role="form" novalidate>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="contact-name" class="control-label sr-only">Name</label>
                                    <input type="text" class="form-control" id="contact-name" name="name" placeholder="Name*" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="contact-email" class="control-label sr-only">Email</label>
                                    <input type="email" class="form-control" id="contact-email" name="email" placeholder="Email*" data-parsley-trigger="focusin focusout" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-subject" class="control-label sr-only">Subject</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="contact-subject" name="subject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-message" class="control-label sr-only">Message</label>
                            <div class="col-sm-12">
                                <textarea class="form-control" id="contact-message" name="message" rows="5" cols="30" placeholder="Message*" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button id="submit-button" type="submit" class="btn btn-primary"><i class="fa loading-icon"></i> <span>Submit Message</span></button>
                            </div>
                        </div>
                        <input type="hidden" name="msg-submitted" id="msg-submitted" value="true">
                    </form>
                </div>
            </div>
            {% if user.contact.address is not null %}
            <div class="col-md-6">
                <div class="address-lines">
                    <p>{{ user.contact.address.streetNumber }} {{ user.contact.address.streetName }}</p>
                    <p>{{ user.contact.address.city }}, {{ user.contact.address.zipCode }}, {{ user.contact.address.country }}</p>
                    <p>Téléphone: {{ user.contact.telephone }}</p>
                    <p>E-mail: <a href="mailto:{{ user.contact.email }}">{{ user.contact.email }}</a></p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- END CONTACTS -->
{% endif %}